.title {
    margin:0;
    padding:24px;
    font-family:Antartida, Arial, sans-serif;
    border-bottom:1px solid black;
}
.tab {
    border:1px solid black;
    border-bottom:0;
    &:hover {
        background-color: lightblue;
        cursor:pointer;
    }
}
.tab-container {
    display:flex;
    padding:0;
}
.reset-filter-btn {
    margin-bottom:24px;
}
.search-results {
    font-family: Antartida, Arial, sans-serif;
}
.active-tab {
    background-color: #b4b3b3;
}
.data-table {
    border:1px solid black;
}
.hidden {
    display:none;
}
.shown {
    display:table-row;
}
.reason-selector {
    border:none;
    padding:24px;
}
.searchFormContainer {
    text-align: center;
    margin-left:25%;
}
.d-flex {
    gap:60px;
}
label {
    display:block;
}
form {
    text-align:center;
    padding:20px;
}
.task_field {
    text-align: center;
}
.dateFormInput {
    margin-top:24px;
    margin-bottom:24px;
}